.App {
  margin: 0 auto;
  width: 1400px;
  padding: 20px;
}

.table-dark {
  margin-top: 20px;
}

.btn-secondary {
  margin-left: 900px;
}

h2 {
  display: inline-block;
}

h6 {
  display: inline-block;
  margin-left: 5px;
}